@charset "UTF-8";


/* 펀딩 만들기 버튼  */
.goBtn {
	display: inline-block;
	position: relative;
	background: rgba(231, 229, 249, 1);
	border : 1px solid rgba(0, 0, 0, 0.19);
	width: 100px;
	height: 30px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 150px;
	float: right;
    margin-top: 40px;
    right: 6%;
}


/* 검색란  */

.search_submit{
	display: inline-block;
	position: relative;
	background: rgba(231, 229, 249, 1);
	border : 1px solid rgba(0, 0, 0, 0.19);
	width: 50px;
	height: 30px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 150px;
	float: right;
	right: 20px;
	bottom: 20px;
	align-self: flex-end;
}

.search_wrapper {
	position: relative;
	display: grid;
	margin: 3% auto;
	width: 80%;
	min-width: 500px;
	height: 120px;
	margin-top: 30px;
	border: 1px solid rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 10px;
	transform: translate(50px, 0);
	grid-template-columns: 93% 7%;
}

.search_left {
	width: 40%;
	height: 80%;
	margin: 0 auto;
	text-align: left;
	float: left;
	padding-left: 5%;
}
.search_left > span{
	position: relative;
	display: inline-block;
	margin-top: 10px;
	width: 100%;

}
.input-wrapper {
	width: 60%;
	display: inline-block;
	position: relative;
}


.input-wrapper > input {
	width: 100%;
}
.search_right {
	position: relative;
	display: inline-block;
	width: 40%;
	height: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;
	transform: translate(-30px, 0);
	
}
.search_right > span{
	position: relative;
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}

.search_right span:last-child{
	display: inline-block;
	position: relative;
	margint-right: 50px;
}

.search_wrapper > input {
	margin: 10px 2px 10px 2px;
}
.select {
	margin: 10px 2px 10px 2px;
	width: 60%;
	box-sizing: border-box;
}



/* 구분선  */

.top_hr{
	position: relative;
	width: 95%;
	margin-bottom: 2%;
}

/* 펀딩 글 목록  */

.item {
	width: 80%;
	min-width: 700px;
	height: 270px;
	position: relative;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.19);
	border-radius: calc(var(- -curve)* 1px);
	overflow: hidden;
	text-decoration: none;
	border-radius: 15px;	
	margin: 0 auto;
	margin-bottom: 20px;
	
}

.item_img_div {
	box-sizing: border-box;
	width: 32%;
	height: 100%;
	border-radius: 15px;
	display: flex;
	float: left;
}

.item_img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	
}

/* 펀딩 글 디테일 */
.item_content {
	position: relative;
	display: inline-block;
	marginL 0 auto;
	float: left;
	width: 68%;
	height: 95%;
	margin-top: 2%;
}

.fund_title{
	display: inline-block;
	position: relative;
	font-size: 24px;
    width: 50%;
	text-overflow: ellipsis;
   	overflow: hidden;
   	white-space: nowrap;
   	text-align: left;
   	font-weight: bold;
   	color: rgba(62, 60, 63, 1);
	transform: translate(-25px, 0);

}



.fund_price {
	display: inline-block;
	position: relative;
	font-size: 20px;
	width: 30%;
	color: rgba(0, 0, 0, 1);
   	font-weight: bold;
   	margint-bottom: 10px;
   	text-align: right;
   	transform: translate(0, -10px);
   	
}

.item_detail_wrapper{
	display:inline-block;
	position: relative;
    margin-top: 5%;
	margin-right: 6%;
	width: 95%;
	color: rgba(0, 0, 0, 1);
}

.item_detail_title{
	display:inline-block;
	position: relative;
    width: 10%;
    min-width: 60px;
	height: 60%;
	left: 0;
}
.item_detail_title > span {
	display: inline-block;
	margin-top: 7px;
}

.item_detail_content{
	display:block;
	position: relative;
    width: 50%;
	height: 60%;
	text-align: left;
	float: right;
	margin-right: 0;
	
}
.item_detail_content > span {
	display: inline-block;
	margin-top: 7px;
}

.v-line{
	display:inline-block;
	position: relative;
 	border-left: 2px solid rgba(0, 0, 0, 0.19);
 	height:100%;
 	left: 40%;
 	position: absolute;
 
}

.traffic-wrapper{
	display: inline-block;
	float:right;
	position: relative;
    transform: translate(-50%, -100px);
	font-size: 12px;
}
.traffic-contentPink{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: rgba(236, 30, 178, 1);
    width: 100%;
    font-weight: bold;
}
.traffic-contentBlue{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: rgba(66, 0, 254, 1);
    width: 100%;
    font-weight: bold;
    
}




/* 펀딩 리스트 필터  */

.dropdown{
	width: 90px;
	height: 30px;
  	position : relative;
  	display : block;
  	float: right;
  	right: 5%;
  	bottom: 10px;
  	
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn_click {
	text-align: center;
	transform: translate(0, 2px);
	
}


.dropbtn{
  display : block;
  border : 1px solid rgb(94, 94, 94);
  border-radius : 4px;
  background-color: #fcfcfc;
  font-weight: 400;
  color : rgb(124, 124, 124);
  padding : 5px;
  width: 90px;
  height: 30px;
  text-align: left  cursor : pointer;
  font-size : 10px;
  z-index :1;
  position : relative;
  margin: 0 auto;

}
.dropdown-content{
  position: relative;
  display : none;
  font-weight: 400;
  background-color: #fcfcfc;
  width : 90spx;
  border-radius: 5px;
  height : 160px;
  overflow : scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
  margin-left: 8px;
}
.dropdown-content::-webkit-scrollbar{
  width : 5px;
  height : 10px;
}
.dropdown-content::-webkit-scrollbar-thumb{
  border-radius : 2px;
  background-color :rgb(194, 194, 194)
}

.dropdown-content div{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding-top: 15px;
  width: 90px;
  height: 40px;
}
.dropdown-content div:hover{
  background-color: rgb(226, 226, 226);
}

.dropdown-content.show{
  display : block;
  position: absolute;
  z-index: 1;
}

/* 조회수&테마 */
.item_bottom {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	left: 0;	
}
.views {
	float: left;
	margin-left: 2px;
	color: rgba(196, 196, 196, 1);
	font-size: 12px;
	transform: translate(0, 2px);
	
}

.theme {
	float: right;
	margin-right: 25px;
	color: rgba(108, 108, 108, 1);
	font-weight: 700;
}


/* 아이콘 이미지  */
.item_icon {
	width: 15px;
	height: 15px;
	margin-right: 10px;
	display: inline-block;
	position: relative;
	transform: translate(0, 2px);
}

.icon_view{
	display: inline-block;
	position: relative;
	width: 15px;
	height: 12px;
	float: left;
	margin-left: 5px;
	transform: translate(0, 5px);
	
}











