@charset "UTF-8";
/* 공통  */

body {
    font-family: Arial, sans-serif;
}

.submit {
	width: 150px;
    padding: 10px 20px;
    background-color: #4196FA;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #4196FA;
    border: #4196FA 1px;
	margin-bottom: 100px;
	margin-top: 50px;
}

/* fundingOption1 */

.container {
    text-align: center;
    margin: 20px;
}

.header h5 {
    font-size: 15px;
    margin-bottom: 20px;
    color: #4E548E;
}

.calendar-header {
	display: flex;
	justify-content: center;
	align-items; center;
	gap: 70px;
	margin: 0 auto;
	margin-bottom: 5px;	
	width: 70%;
}

.nav-button {
  /*   padding: 10px; */
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.calendar-month-wrapper {
	display: flex;
	justify-content: center;
	align-items; center;
	gap: 200px;
	width: 80%;
	align-items: flex-end;
	margin-bottom: 12px;
}

.year {
	font-size: 13px;
    color: #4E548E;
}

.month {
	display: inline-block;
	position: relative;
	width: 30px;
	font-size: 12px;
    color: #4E548E;
	
}

.calendar-container {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    min-width:400px;
}

.calendars {
    display: flex;
    width: 100%;
    gap: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
}

.calendar .day {
    padding: 10px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    width: 11px;
    font-size: 9px;
    font-weight: bold;
}

.daysOfWeek {
	padding: 10px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    width: 11px;
    font-size: 9px;
    font-weight: bold;
}

.calendar .day.selected,
.calendar .day.range {
    background-color: #322dff73;
    color: white;
}

.day:hover {
	background-color: #322dff73;
    color: white;
}

.empty {
	background-color: #C4C4C4;	
}
.empty:hover {
	background-color: #C4C4C4;
    color: black;
}

.info-label {
	display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.info-label span {
	width: 50%;
	color: #4E548E;
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 20px;
}

.info input {
    padding: 10px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 80px;
    text-align: center;
    background-color: transparent;
}

.info input:focus {
	outline:none;
}

.info input::placeholder {
	margin: 0 auto;
	text-align: center;
	color: #D9D9D9;
}
.info2 {
    justify-content: center;
    margin-top: 20px;
}

.info2 input {
    padding: 10px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
    background-color: transparent;
}

.info2 input:focus {
	outline:none;
}

.info2 input::placeholder {
	margin: 0 auto;
	text-align: center;
	color: #D9D9D9;
}
.info2 div {
    font-size: 10px;
    color: #4E548E;
    width: 100%;
    padding: 10px;
}



/* fundingOption2  */

.inputBookWrapper {
    display: flex;
    margin: 0 auto;
    width: 90%;
    gap: 9%;
    margin-bottom: 80px;
}
.inputBookWrapper2 {
    display: flex;
    margin: 0 auto;
    width: 90%;
    gap: 5%;
}

.info-wrapper {
	width: 400px;
}



//InputOption2

.inputBookWrapper {
	padding: 10px;
	gap: 50px;
}

.checkComment {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size:  15px;
	font-weight: bold;
	font-style: italic;
}

.checkWrapper {
	margin-bottom: 20px;
}

.inputWrapper{

}

.accommodation-wrapper input[type="text"],
.traffic-wrapper input[type="text"] {
    width: calc(100% - 120px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputGuide {
	margin-bottom: 20px;
	font-size: 12px;
	color: #B1B1B1;
}
#accommodation_pic, #traffic_pic {
    display: none;
}

#acc-upload, #traffic-upload {
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
}

/*fundingOption3  */
#funding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#header button {
    margin: 0 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
}

.grid-cell {
    padding: 10px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    width: 11px;
    font-size: 9px;
    font-weight: bold;
}

.grid-cell-week {
	padding: 10px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    width: 11px;
    font-size: 9px;
    font-weight: bold;
    background-color: #FFFCFC;
}

.grid-cell:hover {
	background-color: #322dff73;
}


.empty-cell {
	background-color: #C4C4C4;	
}
.empty-cell:hover {
	background-color: #C4C4C4;
    color: black;
}

.selected-date {
    background-color: #322dff73;
}

#next-step {
    margin: 5px;
}

#price_info {
    font-size: 10px;
    color: #4E548E;
    width: 100%;
    padding: 10px;
}

//InputOption4 

#title-wrapper{
	width: 80%;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	border: 1px solid red;
}

#title {
	padding: 10px;
    width: 100%;
    border: 0;
    margin: 0 auto;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
}

.content-wrapper {
	margin-bottom: 50px;
	height: 700px;
}

//InputOption5

.submit:hover {
    background-color: #0056b3;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}


.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.funding-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-upload {
    margin-bottom: 20px;
}

.image-upload label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.main-image-upload, .detail-image-upload {
    margin-bottom: 20px;
}

.image-preview {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

}

.mainImage-preview {
	background-color: white;
    display: inline-block;
    position: relative;
    align-content: center;
    justify-content: center;
    border: 1px solid #ccc;
    width: 200px;
    height: 120px;
    border-radius: 20px;
   	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

.default-image {
    width: 70px;
    height: 70px;
    border-radius: 20px;
 }

.selected-image{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: scale-down;
}

.detail-image-upload {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.image-slider {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
}

.image-wrapper {
    overflow: hidden;
    width: 80%;
    position: relative;
    margin: 0 auto;
    height: 100%;
}


.image-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    position: relative;
    height: 100%;
    align-items: center;
}

.detail-image {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    flex-shrink: 0;
}

.detail-image input[type="file"] {
    display: none;
}

.detail-image .image-preview {
    width: 200px;
    height: 120px;
    border-radius: 20px;
}

.detail-image .remove-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

.detail-image .remove-icon:hover {
    background-color: #cc0000;
}

.remove-icon {
	border-radius: 25px;
	margin-right: -5px;
	margin-top: -5px;
	overflow: visible;
}

.slider-btn {
    background-color: #ccc;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#prevBtn {
    left: 0;
    background-color: white;
    
}

#nextBtn {
    right: 0;
    background-color: white;
}

.add-btn {
    background-color: #4E548E;
    border: none;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-btn:hover {
    background-color: #45a049;
}

.info-ment {
	font-size: 12px;
	color: #B1B1B1;
}

