@charset "UTF-8";

#logoutLink {
	align-self: flex-end; /* 오른쪽 정렬 */
	font-size: 12px; /* 크기 조정 */
}

#infoHeader {
	display: flex;
	justify-content: space-between;
	align-items: center; /* 중앙 정렬 */
	width: 100%; /* 필요에 따라 조정 */
}

#loginInfo {
	display: flex;
	flex-direction: column;
	justify-content: center; /* 중앙 정렬 */
	align-items: flex-start; /* 왼쪽 정렬 */
	gap: 5px; /* 요소들 사이의 간격 */
}

#icons {
	display: flex;
	gap: 10px; /* 아이콘 간의 간격 조정 */
	margin: 20px;
}

/* 전체 아이콘 크기 키우기 */
.far {
	font-size: 30px; /* 원하는 크기로 설정 */
}

.notification-wrap {
	width: 30px;
	height: 30px;
}

#chat {
	height: 30px;
	width: 30px;
	margin: 0;
}

#tt_header {
	font-size: 18px;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: bold;
	font-style: normal;
	display: flex;
	flex-flow: row;
	align-items: center;
	width: 70vw;
	margin: 0 auto;
	min-width: 600px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.menuImage {
	height: 30px;
	width: 30px;
}

.navbar-menu {
	display: inline-block;
	float: left;
	width: 50%;
	padding-left: 15px;
}

.navbar-menu>li {
	width: 25%;
	text-align: center;
	transform: translate(40px, 30px);
}

.navbar-menu2 {
	width: 30%;
	display: flex;
	font-size: 15px;
	float: right;
	justify-content: flex-end;
	transform: translate(0px, 30px);
}

.navbar-menu, .navbar-menu2 {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.navbar-menu li, .navbar-menu2 li {
	margin-right: 20px;
}

.navbar-menu li a, .navbar-menu2 li a {
	text-decoration: none;
	color: inherit;
}

.navbar-brand {
	width: 20%;
}

.navbar-brand img {
	height: 150px;
	width: 180px;
}

.profile_img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.notification-btn {
	position: relative;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: inherit;
	cursor: pointer;
}

.notification-layer {
	display: none;
	position: absolute;
	top: 70px;
	right: 0;
	background-color: #A2CDFF;
	border: 1px solid #C3C6C9;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 300px;
	height: 500px;
	z-index: 1000;
}

.notification-header {
	width: 100%;
	height: 12%;
	position: static;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	border-radius: 20px 20px 0 0;
	background-color: white;
}

.notification-plus {
	width: 30%;
	display: inline-block;
	font-size: 0.9em;
	text-align: right;
	padding-right: 10px;
	cursor: pointer;
}

.notification-layer h3 {
	display: inline-block;
	width: 40%;
	padding: 20px 20px 20px 30px;
	margin: 0;
}

.notification-content-wrap {
	width: 100%;
	height: 85%;
	overflow-y: scroll;
}

.notification-layer.show {
	display: block;
	position: absolute;
	z-index: 1000;
}

#notifications {
	max-width: 250px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.notification {
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 20px;
	margin: 10px 0;
	display: flex;
	align-items: center;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .04);
}

.notification img {
	border-radius: 50%;
	margin-right: 10px;
}

.notification-content {
	flex: 1;
}

.notification-content p {
	margin: 0;
	font-size: 14px;
	color: #555;
}

.notification-content p:last-child {
	margin-top: 10px;
	text-align: right;
}