.mypage-menu-wrap {
	width: 20%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 8px;
}

.user-membership {
	width: 90%;
	padding: 5px 10px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.membership-header {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}

.user-membership .membership-content-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

.my-membership {
	> p:first-child {
		background-color: #1B84FF;
		border: 0;
	}
	> p:first-child .fas {
		color: white;
	}
	> p:last-child {
		color: black !important;
	}
}

.membership-item-wrap {
	display: flex;
	flex-direction: column;
	width: 30%;	
	text-align: center;
}

.membership-item-wrap p:first-child {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	border: 1px solid rgba(0,0,0,.2);
	margin: 0 auto;
}

.membership-item-wrap p:last-child {
	color: rgba(0,0,0,.4);
	font-size: 0.8em;
	font-weight: bold;
}

.membership-item-wrap p .fas {
	color: rgba(0,0,0,.4);
}

.menu-list {
	width: 97%;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list-group {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-inline-start: 0;
}

.list-group-item {
	list-style: none;
	padding: 10px 10px;
}

.menu-link {
	display: inline-block;
	width: 80%;
	padding: 10px 10px 10px 30px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #9D9D9D;
}
.menu-link i {
	margin-right: 10px;
}

.menu-link:hover:not(.highlight) {
	color: #E0E0E0;
	background-color: #F1F7FF;
}

.highlight {
	font-weight: bold;
	color: white;
	background-color: #1B84FF;
}





