* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    position: relative;
    z-index: -1;
}

.container {
	margin:0;
	position: relative;
    z-index: -1;
}

/* 메인 배너 스타일 */
.main-banner {
    background: url('/travelTogether/resources/images/damme.jpg') no-repeat center center/cover;
    opacity: .8;
    color: #fff;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    width: 70vw;
    margin: 0 auto;
}

.main-banner h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.main-banner button {
    background: #ff6347;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.main-banner button:hover {
    background: #ff4500;
}

/* 추천 프로젝트 스타일 */
.recommended-projects {
	width: 80vw;
    /* padding: 8rem 2rem; */
    padding-top: 8rem;
    background: white;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.recommended-projects.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-title {
	display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;

}

.section-title h2 {
    font-size: 2rem;
    align-self: center;
    margin: 0 1rem;
}

.project-card {
    background: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 2rem);
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

.img-wrap {
	width: 100%;
	height: 60%;
	border-radius: 10px 10px 0 0;
}

.project-card img {
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.project-card h3 {
    margin: 1rem 0 1rem;
    font-size: 1.25rem;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.progress-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 10%;
}

.progress-content progress {
    width: 70%;
}

.progress-content > p {
	width: 20%;
}

/* 회원 리뷰 스타일 */
.reviews {
    /* padding: 2rem; */
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 200px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.reviews.visible {
    opacity: 1;
    transform: translateY(0);
}

.review-item {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.review-rank {
	font-size: 1.5rem;
	font-weight: bold;
}

.review {
    background: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    vertical-align: top;
    min-height: 300px;
    transition:transform 1s;
	overflow:hidden;
	cursor: pointer;
}

.review-list {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.review img {
	width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.review > p {
	height: 15%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    display: flex;
    padding-top: 10px;
}

.review-info {
	display: flex;
	height: 15%;
	align-items: center;
	padding-top: 10px;
}

.review-info p {
	width: 20%;
	text-align: right;
	color: #C4C4C4;
}

.review-title {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-info > p.review-nickname {
	width: 60%;
	text-align: left;
	color: black;
}

.review-info > p > i {
	font-size: 1.2em;
}

.review span {
    color: #C4C4C4;
    padding-left: 10px;
}

/* 푸터 스타일 */
footer {
    background: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

footer .footer-info {
    margin-bottom: 2rem;
}

footer .footer-info h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

footer .footer-info p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

footer .social-media a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
}

footer .newsletter {
    margin-top: 1rem;
}

footer .newsletter input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

footer .newsletter button {
    background: #ff6347;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

footer .newsletter button:hover {
    background: #ff4500;
}

footer .footer-links a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 0.875rem;
}

footer .footer-links a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 1rem;
    font-size: 0.875rem;
}

/* 펀딩 슬라이더 */
.slider {
    display: flex;
    overflow: hidden;
    /* padding: 10px 40px; */
    width: 80%;
    margin: 0 auto;
    flex-direction: row;

}

.funding-box {
	display:flex;
	animation: scroll 40s linear infinite;
}

.funding-box > div {
	margin: 0px -1px 0px 0px;
}

.funding-box.original {
	animation: scroll1 33s linear infinite;
}
.funding-box.clone {
	animation: scroll2 33s linear infinite;
}

.slider:hover .funding-box {
  animation-play-state:paused;
}

@keyframes scroll1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% {transform: translateX(0);}
}

@keyframes scroll2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
}

.slide {
    height: 90%;
    /* min-height: 200px; */
    min-width: 350px;
    display: flex;
    align-items: center;
    /* padding: 15px; */
    perspective: 100px;
}

.project-card {
	width: 90%;
	height: 90%;
	transition:transform 1s;
	border-radius:10px;
	overflow:hidden;
	cursor: pointer;
}

.project-card:hover{
	transform:translateZ(10px);
}

.review:hover{
	transform:translateZ(10px);
}

.fas {
	margin-right: 10px;
}


.rank1 {
	color: #FFD43B;
}
.rank2 {
	color: #dedede;
	
}
.rank3 {
	color: #cb8710;
}
