<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.travelTogether.funding">
	<select id="selectAllByViews" resultType="fundvo">
		select * from tt_funding order by views desc
	</select>
	<select id="selectAllByPriceDesc" resultType="fundvo">
		select * from tt_funding order by price desc
	</select>
	<select id="selectAllByPriceAsc" resultType="fundvo">
		select * from tt_funding order by price asc
	</select>
	<select id="selectAllByDate" resultType="fundvo">
		select * from tt_funding order by create_date desc
	</select>
	
	<select id="selectFudingTheme" resultType="map">
		select funding_id as "funding_id" , title as "title"
		from tt_funding_theme 
		left outer join tt_theme
		    on tt_funding_theme.theme_id = tt_theme.theme_id
	</select>
	
	<select id="selectFundingById" resultType="fundvo" parameterType="int">
		select *
		from tt_funding
		where funding_id=#{funding_id}
	</select>
	
	<select id="selectbyCondition" resultType="fundvo" parameterType="map">
	
		select *
		from tt_funding
		left outer join tt_funding_theme
			on tt_funding.funding_id = tt_funding_theme.funding_id
		where 1=1
			<if test='search_title != null and !search_title.equals("")'>
				and tt_funding.title like '%'||#{search_title}||'%'
			</if>
			<if test='search_area != null and !search_area.equals("")'>
				and tt_funding.area = #{search_area}
			</if>
			<if test="theme != 0">
				and tt_funding_theme.theme_id = #{theme}
			</if>		
			<![CDATA[ 
				and tt_funding.start_date >= to_char(#{search_start}, 'YYYY/MM/DD')
				and tt_funding.end_date <= to_char(#{search_end}, 'YYYY/MM/DD')
				]]>
		    order by tt_funding.create_date desc
	</select>
	
	<select id="getFundingId" resultType="int">
		select funding_id
		from (select * from tt_funding order by funding_id desc)
		where rownum=1
	</select>
	
	<insert id="insertFunding" parameterType="fundvo">
		insert into tt_funding(funding_id, title, funding_content, create_date, area, start_date, end_date, deadline, price, departure, traffic, accommodation, people_num, funding_state, confirm_option, views, member_id)
		values(funding_seq.nextval, 
				#{title}, 
				#{funding_content}, 
				sysdate, 
				#{area}, 
				#{start_date},
				#{end_date}, 
				#{deadline},				
				#{price}, 
				#{departure}, 
				#{traffic}, 
				#{accommodation}, 
				#{people_num}, 
				#{funding_state},
				#{confirm_option}, 
				#{views}, 
				#{member_id})
	</insert>
</mapper>